@import url('https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville');

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: sans-serif;
  margin: 0;
}

p {
  font-family: 'Libre Baskerville', serif;
  margin: 0;
  font-size: clamp(8px, 2vw, 16px);
}
/* DDCA7D - B88B4A - A27035 - 533E2D - 242331  */

/* a {
  color: #69b2ff;
} */

body  {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background: linear-gradient(209.21deg, rgb(47, 184, 255) 13.57%, rgb(131, 213, 255) 98.38%);
  background-size: cover;
  /* color: #e85666; */
  
}

.container {
  width: 85vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-content: center;
  /* border: 1px solid black; */
  border-radius: 40px;

  /* neumorph */
  background: linear-gradient(42deg, #56c9ff, #2fb8ff);
  box-shadow: 7px -6px 20px #0496e1, -7px 6px 20px #a6e1ff;

}

.card {
  width: 60vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  /* border: 1px solid black; */
  border-radius: 40px;

  /* neumorph */
  background: linear-gradient(42deg, #56c9ff, #2fb8ff);
  box-shadow: 7px -6px 20px #0496e1, -7px 6px 20px #a6e1ff;

}

.tagline h2 {
  font-size: clamp(10px, 5vw, 70px);
  text-align: center;
  margin: 10px 0;

  /* neumorph */
  font-weight: 900;
  /* text-shadow: 7px -6px 2px #0496e1, -7px 6px 6px #a6e1ff;
  color: #34baff; */

  /* debossed version */
  text-shadow: -2px 2px 0px #0269ee, -2px 2px 6px #a6e1ff;
  color: #ffffff4d;

}



.nav {
  /* border: 1px solid black; */
  display: grid;
  grid-template-rows: repeat(1fr*3);
  /* width: 5vw; */
  /* height: 50vh;  */
  align-self: center;
  align-items: center;
  justify-self: center;
  justify-self: center;
  
  
}

.nav ul {
  padding: 0;
  list-style: none;
  align-self: center;
  align-items: center;
  justify-self: center;
}

.nav li {
  /* border: 1px solid purple; */
  text-align: center;
  padding: 15px 15px;
  border-radius: 20px;
  margin: 40px 0;
  transition: all 0.5s ease-in-out;

  /* neumorph */
  background: linear-gradient(42deg, #56c9ff, #2fb8ff);
  box-shadow: 5px -5px 11px #0496e1, -5px 5px 11px #91d5f9;

}





.nav li:hover {
  background: linear-gradient(42deg, #009ef0, #93dcff);
  box-shadow: -1px 1px 5px #0496e1, 2px -2px 5px #91d5f9;
  text-shadow: -2px 2px 1px #028cee, 1px -2px 4px #a6e1ff;
  color: #ffffff4d;
  transform: translateY(4px);
  transition: all 0.5s ease-in-out;

  
}

/* .nav li a:hover {
  text-shadow: -2px 2px 0px #0269ee, -2px 2px 6px #a6e1ff;
color: #ffffff4d;
} */









footer {
  height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}