@import url('https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville');

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

p {
  font-family: 'Libre Baskerville', serif;
  margin: 0;
  font-size: clamp(8px, 2vw, 16px);
}
/* DDCA7D - B88B4A - A27035 - 533E2D - 242331  */

body  {
  margin: 0;
  /* background-color: #c6f1e7; */
  background-color: #4f194f;

  color: #e85666;
  
}











footer {
  height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}