.projects {
  display: flex;
  padding: 25px;
  border-top: 3px solid #e3e076;
  align-items: center;
  flex-direction: column;
  
}

.projects h2 {
  margin: 10px;
}

.project1 {
  display: flex;

}

.project1 figure {
  margin-top: 55px;
}


.project1 figure img {
  width: 175px;
  height: 185px;
}

.proj1 {
  display: grid;
  align-items: center;
  padding: 25px;
  justify-content: center;  
}