// ********* RESETS ***********

@import url('https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville');

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

p {
  font-family: 'Libre Baskerville', serif;
  margin: 0;
  font-size: clamp(8px, 2vw, 16px);
}

// ******* START OF DESIGN FOR WEB ***********


body  {
  margin: 0;

  background-image: linear-gradient(209.21deg, rgb(47, 184, 255) 13.57%, rgb(158, 236, 217) 98.38%);
  background-repeat: no-repeat;
  background-size: cover;

  color: #e85666;
  
}











footer {
  height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}